* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;

  padding-top: 40px;
  background: #f3f4f6;
}

#root {
  width: 100%;
}